.section__users {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media(min-width: 768px) {
    .section__users {
        flex-direction: row;
        flex-wrap: wrap;
    }
}