.snackbar--success {
    width: 200px;
    /* margin: 50px auto; */
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;

    position: absolute;
}

.snackbar--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.snackbar--topRight {
    top: 0;
    right: 0;
}

.snackbar--topLeft {
    top: 0;
    left: 0;
}

.snackbar--bottomLeft {
    bottom: 0;
    left: 0;
}

.snackbar--bottomRight {
    bottom: 0;
    right: 0;
}

.snackbar--centerBottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


h2 {
    font-size: 20px;
}

.closeBtn {
    background-color: transparent;
    border: none;
    font-size: 20px;

    position: absolute;
    top: -50px;
    right: 10px;
}