.user__card {
    width: 80%;
    height: 400px;
    background-color: #061F49;
    border: 1px solid #061F49;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

@media(min-width: 768px) {
    .user__card {
        width: 40%;
    }
}

@media(min-width: 1200px) {
    .user__card {
        width: 27%;
    }
}

@media(min-width: 1440px) {
    .user__card {
        width: 21%;
    }
}