.form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0;
}

.radioInnerContainer,
.inputInnerContainer,
.selectInnerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radioGroup {
    width: 50%;
    display: flex;
}

.select,
input[type='text'],
input[type='number'] {
    width: 70%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.buttonDefault {
    padding: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    background-color: #189AB4;
    transition: all .3s ease;
}

.buttonForm {
    width: 50%;
    margin-top: 20px;
    font-size: 20px;
}

.buttonDefault:hover,
.buttonDelete:hover {
    background-color: #D4F1F4;
}