button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: #808080;
}

.button__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: ;
}